/* Archivo de registro*/
.fondo{
    background-color:#4C829B;
}
.titulo{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 25vh;
    font-size: 25px;
    color: #293033;
}
.Creacion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color:#293033;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;

}
.inicio{
     display: flex;
    justify-content: center;
    align-items: center;
    color:beige;

}
.boton{
    background-color:#4A6470;
 
}


/* Archivo de login*/
.loginFondo {
     background-color: #5FAF9B; /*#355C7D*/

}

.loginT {
   align-items: center;
    display: flex;
    justify-content: center;
    height: 25vh;
    font-size: 25px;
    color: #0D1B2A;
}

.loginCrear {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: #1C2541;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}
.crearCuenta{
     display: flex;
    justify-content: center;
    align-items: center;
    color:#1C2541;
}
.button {
background-color: #4C829B;
}
