/* Archivo de registro*/
.fondo{
    background-color:#4C829B;
}
.titulo{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 25vh;
    font-size: 25px;
    color: #293033;
}
.Creacion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color:#293033;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    border: 2px solid #27AFF0;
    background-color: #409BC5;
    margin: 20px;
    width: 100vh;
    

}
.inicio{
     display: flex;
    justify-content: center;
    align-items: center;
    color:beige;

}
.boton{
    background-color:#4A6470;
 
}