/* Archivo de registro*/
.fondo{
    background-color:#BFD8D2;
    display: flex;
  justify-content: center;     
  align-items: center;         
  flex-direction: column;      
  height: 75vh;         
}
.titulo{
    display: flex;
  justify-content: center;     
  align-items: center;         
  flex-direction: column;      
  height: 75vh;      
    color: #293033;
}
.Creacion {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  padding: 20px;
    color:#293033;
    background-color: #DCEFF2 ;
     border-radius: 15px;
  box-shadow: 0 8px 20px #0D1B2A;
  height: 20vh;
}
.inicio{
     display: flex;
    justify-content: center;
    align-items: center;
    color:beige;

}
.boton{
    background-color:#4A6470;
 
}


/* Archivo de login*/
.loginFondo {
     background-color: #DCEFF2; 
    display: flex;
  justify-content: center;     
  align-items: center;         
  flex-direction: column;      
  height: 75vh;               
}

.loginT {
   align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 75vh;
    font-size: 25px;
    color: #0D1B2A;
}

.loginCrear {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  padding: 20px;
  background-color: #BFD8D2;
  border-radius: 15px;
  box-shadow: 0 8px 20px #0D1B2A;
  height: 20vh;
}
.crearCuenta{
     display: flex;
    justify-content: center;
    align-items: center;
    color:#1C2541;
}
.button {
background-color: #4C829B;
}


/* Archivo de procesar registro*/

.procesarR {
    background-color: #A3D5D3;
}

.centrarR {
   display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: #1C2541;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}
.Isesion {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1C2541;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
/* Archivo de procesar login*/

.fondoPL {
    background-color: #B3DDF2;
}

.IsesionPL {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1C2541;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.centrarPL {
   display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: #1C2541;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
/* Archivo de Bienvenida*/

.Fbienvenida {
    background-color: #D0F0E0;
}

.Bienvenida {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    color: #1C2541;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.Btexto {
 display: flex;
    justify-content: center;
    align-items: center;
    color: #1C2541;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 15vh;
}

.Cerrar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1C2541;
    height: 15vh;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}