.container {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr ;/* 2 columnas de 150px */
 grid-template-rows: 1fr 1fr ; /* 2 filas de 100px */
 gap: 10px; /* espacio entre items */
  
}
.item {
 background-color: rgb(201 43 122);
 color: rgb(184.510, 25.783, 104.902);
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 24px;
  border: 2px solid lightgreen;
}
.flex-container {
  display:flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
